body{
	background-color:#F0F0F0;
}
#heart {
            width: 100px;
            height:100px;
            margin: 0px auto;
         }
.weather{
	position: absolute;
	right: 2%;
}
.clear{
	clear: both;
}

.nav>li>a:hover::after{
    height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.nav>li>a:after{
	position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #26a9e1;
    content: '';
    opacity: 0;
    -webkit-transition: height .5s,opacity .5s,-webkit-transform .5s;
    transition: height .5s,opacity .5s,transform .5s;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.introduce{
  width: 80%;
  height: 720px;
  margin: 30px auto;
  
}
.introduce h3,.introduce p{
	font-family:'微软雅黑', Helvetica, Arial, sans-serif;
	color:#fff;
	font-size: 26px;
    font-weight: normal;
}

.education td, .education th{
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}

.education th{
  font-size:1.1em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#ffffff;
}

.education tr.alt td{
  color:#000000;
  background-color:#EAF2D3;
}

.footer{
	position: absolute;
	bottom: 20px;
	left: 40%;
}
.footer p{
	position:relative;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	display: block;
	font-size: 1.9em;
	font-weight: 400;
	text-align:center;
	padding-top:2em;
}
.intro{
	text-align: center;
	display: table;
    width: 100%;
    height: 100%;
}

.slide h1{	
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}
.intro h1{
	display: table-cell;
    vertical-align: middle;
	font-size: 5em;
	font-family: arial,helvetica;
	color: #fff;
	margin:0;
}
.intro p{
	color: #fff;
}
