body{
	background: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

h2{
	font-size: 26px;
	line-height: 100px;
	font-family: "微软雅黑";
	text-align: left;
	padding-left: 30px;
}	