* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(../images/login.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow:hidden;
}
.clear {
	clear: both;
}
#login {
	width: 380px;
	height: 320px;
	background: #ffffff;
	margin: 13% auto;
	box-shadow: 0px 0px 10px #666;
	border-radius: 8px;
}
#login p.ti {
	height: 60px;
	line-height: 60px;
	text-indent: 40%;
	font-size: 18px;
}
#login .logincon {
	width: 320px;
	height: 310px;
	margin: 0 auto;
}
#login .logincon p a {
	font-family: 'Open Sans', sans-serif;
	float: left;
	width: 50%;
	font-size: 1em;
	padding: 0px 0px 18px 0px;
	color: #C9C8C7;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
}
#login .logincon p a:hover {
	color: #FF3300;
}
#login .logincon p input.txt {
	height: 45px;
	width: 318px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	font-family: "微软雅黑";
	text-indent: 40px;
	margin-bottom: 20px;
}
#login .logincon p input.txt:focus {
	border: 1px solid #50afeb;
	outline: none;
	opacity: 0.85;
	-webkit-box-shadow:0 0 8px #50afeb; 
	-moz-box-shadow: 0 0 8px #50afeb;
	-o-box-shadow: 0 0 8px #50afeb;
	box-shadow: 0 0 8px #50afeb;
}
#login .logincon p input.phone {
	background: url("../images/phone.png") no-repeat 10px center;
}
#login .logincon p input.yzm {
	background: url("../images/yzm.png") no-repeat 10px center;
	width: 200px;
	float: left;
}
#login .logincon input.button {
	width: 318px;
	height: 45px;
}
#login .logincon input.button:hover {
	cursor: pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#258dc8+0,258dc8+100;Blue+Flat+%231 */
	
	background: #258dc8;
	/* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1OGRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNThkYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #258dc8 0%, #258dc8 100%);
	/* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #258dc8), color-stop(100%, #258dc8));
	/* Chrome,Safari4+ */
	
	background: -webkit-linear-gradient(top, #258dc8 0%, #258dc8 100%);
	/* Chrome10+,Safari5.1+ */
	
	background: -o-linear-gradient(top, #258dc8 0%, #258dc8 100%);
	/* Opera 11.10+ */
	
	background: -ms-linear-gradient(top, #258dc8 0%, #258dc8 100%);
	/* IE10+ */
	
	background: linear-gradient(to bottom, #258dc8 0%, #258dc8 100%);
	/* W3C */
	
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8', GradientType=0);
	/* IE6-8 */
}