@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a,
img {
	border: 0;
}
body {
	font: 16/180% Arial, Helvetica, sans-serif, "微软雅黑", "黑体";
	background: url(../images/11.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
.red {
	color: #ff0000;
	font-family: "宋体";
	font-weight: normal;
}
.clear {
	clear: both;
}
.clear:before,
.clear:after {
	content: "";
	display: table;
}
.clear:after {
	clear: both;
}
/* form-div */

.form-div {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	border: 1px solid #aaa;
	width: 524px;
	margin: 0 auto;
	padding: 30px 0 40px 0px;
	font-size: 12px;
	box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5), 0px 0px 15px rgba(75, 75, 75, 0.3);
	text-align: left;
}
.form-div p.ti {
	height: 40px;
	text-indent: 43%;
	font-size: 18px;
}
.form-div input[type="text"],
.form-div input[type="password"],
.form-div input[type="email"] {
	width: 268px;
	margin: 10px;
	line-height: 20px;
	font-size: 16px;
}
.form-div input[type="checkbox"] {
	margin: 20px 0 20px 10px;
}
.form-div input[type="button"],
.form-div input[type="submit"] {
	margin: 10px 20px 0 0;
}
.form-div input[type="button"],
.form-div input[type="submit"]:hover {
	cursor: pointer;
}
.form-div table {
	margin: 0 auto;
	text-align: right;
	color: rgba(64, 64, 64, 1.00);
}
.form-div table img {
	vertical-align: middle;
	margin: 0 0 5px 0;
}
.footer {
	color: rgba(64, 64, 64, 1.00);
	font-size: 12px;
	margin-top: 30px;
}
.form-div .buttons {
	float: right;
}
.pwd_strong {
	width: 220px;
	height: 30px;
	margin-left: 40px;
}
.ywz_zhuce_xiaoxiaobao {
	float: left;
	width: 226px;
}
.ywz_zhuce_hongxian {
	float: left;
	background: #ff3300;
	width: 62px;
	height: 4px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}
.ywz_zhuce_hongxian2 {
	float: left;
	background: #099;
	width: 62px;
	height: 4px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}
.ywz_zhuce_hongxian3 {
	float: left;
	background: #060;
	width: 62px;
	height: 4px;
	margin-top: 5px;
	margin-left: 5px;
	_margin-top: 0px;
	_height: 2px;
	font-size: 0px;
}
.ywz_zhuce_huixian {
	float: left;
	background: #d6d3d3;
	width: 62px;
	height: 4px;
	margin-top: 5px;
	_margin-top: 0px;
	margin-left: 5px;
	_height: 2px;
	font-size: 0px;
}
.ywz_zhuce_hongxianwenzi {
	float: left;
	width: 62px;
	margin-left: 5px;
	text-align: center;
	color: #b0adad;
	font-size: 12px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
	border-radius: 8px;
	box-shadow: inset 0 2px 5px #eee;
	padding: 10px;
	border: 1px solid #D4D4D4;
	color: #333333;
	margin-top: 5px;
	opacity: 0.7;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
	border: 1px solid #50afeb;
	outline: none;
	opacity: 0.85;
	-webkit-box-shadow: 0 0 8px #50afeb;
	-moz-box-shadow: 0 0 8px #50afeb;
	-o-box-shadow: 0 0 8px #50afeb;
	box-shadow: 0 0 8px #50afeb;
}
input[type="button"],
input[type="submit"] {
	padding: 7px 15px;
	background-color: #3c6db0;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	min-width: 80px;
	border: none;
	color: #FFF;
	box-shadow: 1px 1px 1px rgba(75, 75, 75, 0.3);
}
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #5a88c8;
}
input[type="button"]:active,
input[type="submit"]:active {
	background-color: #5a88c8;
}
.footer {
	position: absolute;
	margin-top: 3em;
	width: 100%;
	text-align: center;
}
.footer p {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	display: block;
	font-size: 1.5em;
	font-weight: 400;
	padding-top: 2em;
}